@{
    ViewBag.Title = "Home Page";
}



<div class="row text-center" style="margin-top:30px">
   <div class="col-lg-12">
       <h2 class="text-primary" style="margin-bottom:50px">Yazar Api Yönetimi</h2>
    <ul class="list-inline">
        <li class="">
            <a href="~/Home/Yazar" class="btn btn-info">Yazar Listesi</a>
        </li>
        <li class="">
            <a href="~/Home/Yazar/Detail" class="btn btn-primary">Yazar Detayı</a>
        </li>
        <li class="">
            <a href="~/Home/Yazar/Add" class="btn btn-success">Yazar Ekle</a>
        </li>
        <li class="">
            <a href="~/Home/Yazar/Edit" class="btn btn-warning">Yazar Düzenle</a>
        </li>
        <li class="">
            <a href="~/Home/Yazar/Delete" class="btn btn-danger">Yazar Sil</a>
        </li>
    </ul>
   </div>
</div>